<app-header></app-header>

<div class="overview-container">
  <h2>Overview</h2>
  <div class="borrow">
    <button mat-button="elevated" (click)="openBorrowDialog()">Borrow Book</button>
  </div>
  <div class="return">
    <button mat-button="elevated" (click)="openReturnDialog()">Return Book</button>
  </div>
  <h2>Books that you borrowed</h2>
  <mat-accordion>
    <ng-container *ngFor="let lendingentry of lendingentries()">
      <div class="lendingrow">
        <app-lendinglistentry [entry]="lendingentry"></app-lendinglistentry>
      </div>

    </ng-container>
  </mat-accordion>
</div>

