.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  outline: none; /* remove focus outline */
  background-color: #f0f0f0;
}

.nfc-image {
  max-width: 200px;
  margin-bottom: 1rem;
}
