<app-header></app-header>
<mat-stepper>

</mat-stepper>
<mat-stepper [linear]="true" #stepper (selectionChange)="onStepChange($event)">
  <!-- Step 1: User Info -->
  <mat-step [stepControl]="nameFormGroup">
    <form [formGroup]="nameFormGroup">
      <ng-template matStepLabel>Enter your info</ng-template>
      <div class="field">
        <mat-form-field appearance="fill">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="Name" formControlName="first_name" required (focus)="inputClicked(nameFormGroup.controls['first_name'])"
          (click)="inputClicked(nameFormGroup.controls['first_name'])" (touchstart)="inputClicked(nameFormGroup.controls['first_name'])">
        </mat-form-field>
      </div>
      <div class="field">
        <mat-form-field appearance="fill">
          <mat-label>Last Name</mat-label>
          <input matInput  placeholder="LastName" formControlName="last_name" required (focus)="inputClicked(nameFormGroup.controls['last_name'])"
          (click)="inputClicked(nameFormGroup.controls['last_name'])" (touchstart)="inputClicked(nameFormGroup.controls['last_name'])">
        </mat-form-field>
      </div>

      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
    <app-keyboard></app-keyboard>
  </mat-step>

  <!-- Step 2: NFC Registration -->
  <mat-step>
    <ng-template matStepLabel>Scan your NFC card</ng-template>

    <div id="nfc_input" class="nfc-step-container" (keydown)="onKeydown($event)" tabindex="0">
      <img ngSrc="assets/scan_nfc.png" width="260" height="280" alt="Hold NFC card to reader">

      <p>Hold your NFC card to the reader</p>
    </div>

    <div class="step-actions">
      <button mat-button (click)="stepper.previous()">Back</button>
    </div>
  </mat-step>
</mat-stepper>


